body{
    background-color: rgb(75, 197, 75);
}

h1{
    text-align: center;
    color: rgb(11, 60, 103);
    font-size: 4em;
}
button{
    border-radius: 30px;
    border: none;
    color: aliceblue;
    background-color: coral;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 3em;
}
button:hover{
    background-color: green;
}
div{
    text-align: center;
    background-color: rgb(3, 82, 99);
    margin:3em;
    display: inline-flexbox;
    padding: 1.5em;
}
h2{
    font-size:4em;
}
#text{
    text-align: center;
    color: rgb(72, 0, 0);
    color: rgb(0, 24, 46)

}


input{
    padding: 0.5em;
    font-size:3em;
}
